{% extends 'skeleton.html' %}{% block main %}<div id="key">
			<div>
				<h2>GreenWW</h2>
				<p>Voluntary Crowdsourcing WWW measurements</p>
			</div>
			<div id="gww-main-speedtracer">
				<ol>
					<li>
						<h3>You can start by reading more on the project <a target="_blank" href="#">here</a> or if you know everything already, continue with the step 2.</h3>
					</li>
					<li>
						<h3>All you have to do is download this extension</h3>
						<a href="#">SpeedTracer</a>
					</li>
					<li>
						<h3>And then open a few tabs by clicking on the button below</h3>
						<a id="gww-main-start" href="#">Start Measuring</a>
					</li>
				</ol>
			</div>
		</div>
		<div>
			<ul>
				<li>
					<h3>What is Speed Tracer?</h3>
					<p>Speed Tracer is an extension for Chrome web browser provided by Google that helps measure the inner operations performed by the browser.</p>
				</li>
				<li>
					<h3>Can I see the results?</h3>
					<p>You will able to see the results as soon as there are enough of them. However you will not be able to see your individual results as they are not marked in any vay to be identified as yours.</p>
				</li>
				<li>
					<h3>What is the goal of this?</h3>
					<p>Discovery of the common coding patterns that slow down web page rendering and to shut down or efficiently reuse at least one power plant by avoiding these patterns.</p>
				</li>
			</ul>
		</div>{% endblock main %}